body {
    background: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

.rounded-circle {
    width: 15rem;
}

.col {
    color: white;
}

.col-1 {
    color: white;
    font-size: 1.5rem;
}

.col-2 {
    color: white;
    font-size: 1rem;
    text-align: center;
}

.img-thumbnail {
    background-color: black;
    border: .001rem solid black;
    width: 50rem;
}

.img-thumbnail:hover {
    cursor: pointer;
}

.text-center{
    font-size: 1.5rem;
    color: white;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    width: 125rem;
}

.card {
    width: 20rem;
}

.fs-6 {
    color: transparent;
}

.text-start {
    color: black;
}

.align-middle {
    width: 5rem;
}





